@page
@model StitchWitches.Pages.Sales.SelectItemsModel

@{
    ViewData["Title"] = "Start";
    var idParam = Request.Query["Id"];
    int existingID = -1;
    if (int.TryParse(idParam, out int result))
    {
        existingID = result;
    }
}

<h1>Start a Sale / Select Items</h1>

<h4>Sale</h4>
<hr />


<form method="post">
    @if (existingID > -1)
    {
        <input type="hidden" asp-for="Sale.Id" />
    }
    <div class="container">
        <div class="row">

            <div class="col-md">
                <div class="form-group form-check">
                    <h4>Items Currently in Stock:</h4>
                    @foreach (var category in Model.CategoryLists)
                    {
                        <h5>@category[0].Category</h5>
                        @for (var i = 0; i < category.Count(); i++)
                        {
                            if (Model.Selected.Contains(category[i].Id))
                            {
                                <input name="Selected" type="checkbox" value="@category[@i].Id" checked />
                            }
                            else
                            {
                                <input name="Selected" type="checkbox" value="@category[@i].Id" />
                            }
                            <label>@category[@i].Name ( @category[@i].Price )</label>
                            <br />
                        }
                    }
                </div>
            </div>
            <div class="col-md">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Sale.Market" class="control-label"></label>
                    <input asp-for="Sale.Market" class="form-control" list="markets" />
                    <datalist id="markets">
                        <option value="Raleigh Flea Market" />
                        <option value="Maker's Market CLT - Burial" />
                    </datalist>
                    <span asp-validation-for="Sale.Market" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Sale.Notes" class="control-label"></label>
                    <input asp-for="Sale.Notes" class="form-control" />
                    <span asp-validation-for="Sale.Notes" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Finalize Order" class="btn btn-primary" />
    </div>

</form>



<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
