@page
@model StitchWitches.Pages.InventoryItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@{
    var fileName = @Model.InventoryItem.ImagePath;
}

<h1>Details</h1>
<img src="~/images/@fileName" class="img-reactive pull-right" width="33%" >
<div class="pull-left">
    <h4>@Html.DisplayFor(model => model.InventoryItem.Name)</h4>
   
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryItem.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryItem.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryItem.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryItem.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryItem.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryItem.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryItem.Category)
        </dd>
    </dl>
</div>
<div>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <a asp-page="./Edit" asp-route-id="@Model.InventoryItem.Id">Edit</a> 
        <a asp-page="./Delete" asp-route-id="@Model.InventoryItem.Id">Delete</a>
    }
    <a asp-page="./Index">Back to List</a>
</div>
