@page
@model StitchWitches.Pages.InventoryItems.IndexModel
@using StitchWitches.Models
@using System.Reflection
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Inventory";
    List<CategoryEnum> Categories = Enum.GetValues(typeof(CategoryEnum)).Cast<CategoryEnum>().ToList();
}

@functions {
    public static string GetCategoryDisplayName(CategoryEnum category)
    {
        var member = typeof(CategoryEnum).GetMember(category.ToString()).FirstOrDefault();
        if (member != null)
        {
            var attributes = member.GetCustomAttributes(typeof(DisplayAttribute), false);

            if (attributes != null && attributes.Length > 0)
            {
                return ((DisplayAttribute)attributes[0]).GetName();
            }
        }
        return category.ToString(); //if no display attribute is found, return the enum name

    }
}


<div class="row h-100 g-0">

    <div class="nav nav-pills nav-stacked filterBtnContainer col-2 justify-content-start text-center">

        <button class="nav-link filterButton active m-1 justify-content-center" type="button" onclick="filterItems('All')" id="All" data-toggle="pill"> Show All </button>
        <h3>Categories</h3>

        @foreach (var cat in Categories)
        {
            var display = GetCategoryDisplayName(cat);
            <button class="nav-link filterButton m-1" type="button" onclick="filterItems('@cat')" id="@cat" data-toggle="pill"> @display </button>
        }


        @* TODO: implement other filtering options? *@
        <h3>Availability</h3>
        <button class="nav-link filterButton m-1" type="button" onclick="checkStock()" id="InStock" data-toggle="pill"> In Stock Only</button>

        <h3>Crocheters</h3>
        <button class="nav-link filterButton m-1" type="button" onclick="filterItems('Taylor')" id="Taylor" data-toggle="pill"> Made by Tay </button>
        <button class="nav-link filterButton m-1" type="button" onclick="filterItems('Megan')" id="Megan" data-toggle="pill"> Made by Megan </button>
        <button class="nav-link filterButton m-1" type="button" onclick="filterItems('Landis')" id="Landis" data-toggle="pill"> Made by Landis </button>

    </div>


    <div class="indexContainer col ">
        @foreach (var item in Model.InventoryItems)
        {
            var inStock = item.Quantity > 0 ? "InStock" : "OutOfStock";
            <div class="indexItem @item.Category @item.CreatedBy @inStock aspect-ratio-1x1">
                <a asp-page="./Details" asp-route-id="@item.Id">
                    <img src="~/images/@item.ImagePath" class="img-fluid object-fit-cover w-100 h-100 rounded" />
                    <h2>@Html.DisplayFor(modelitem => item.Name)</h2>
                </a>
                <p>
                    @Html.DisplayFor(modelitem => item.Price) -- @Html.DisplayFor(modelitem => item.CreatedBy) -- In Stock: @Html.DisplayFor(modelitem => item.Quantity)

                </p>

            </div>
        }
    </div>
</div>

