@page
@model StitchWitches.Pages.InventoryItems.IndexModel
@using StitchWitches.Models
@using System.Reflection
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Inventory";
    List<CategoryEnum> Categories = Enum.GetValues(typeof(CategoryEnum)).Cast<CategoryEnum>().ToList();
}

@functions {
    public static string GetCategoryDisplayName(CategoryEnum category)
    {
        var member = typeof(CategoryEnum).GetMember(category.ToString()).FirstOrDefault();
        var attributes = member.GetCustomAttributes(typeof(DisplayAttribute), false);

        if (attributes != null && attributes.Length > 0)
        {
            return ((DisplayAttribute)attributes[0]).GetName();
        }
        return category.ToString(); //if no display attribute is found, return the enum name

    }
}

<h1>Our Work</h1>


<div>
    <button class="btn filterButton" type="button" onclick="filterItems('All')" id="All"> Show All </button>
    @foreach (var cat in Categories)
    {
        var display = GetCategoryDisplayName(cat);
        <button class="btn filterButton" type="button" onclick="filterItems('@cat')" id="@cat"> @display </button>
    }

</div>
<div class="indexContainer">
    @foreach (var item in Model.InventoryItems)
    {
        <div class="indexItem @item.Category">
            <a asp-page="./Details" asp-route-id="@item.Id">
                <img src="~/images/@item.ImagePath" />
                <h2>@Html.DisplayFor(modelitem => item.Name)</h2>
            </a>
            <p>
                @Html.DisplayFor(modelitem => item.Price) -- @Html.DisplayFor(modelitem => item.CreatedBy)
                <br />
                @Html.DisplayFor(modelitem => item.Description)
            </p>

        </div>
    }
</div>
