@page
@model StitchWitches.Pages.InventoryItems.IndexModel

@{
    ViewData["Title"] = "Inventory";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="indexWrapper">
    @foreach (var item in Model.InventoryItem)
    {
        <div class="indexItem">
        <a asp-page="./Details" asp-route-id="@item.Id"><img src="~/images/@item.ImagePath" />
            <h2>@Html.DisplayFor(modelitem => item.Name)</h2>
        </a>
        <p>@Html.DisplayFor(modelitem => item.Price) -- Current Stock: @Html.DisplayFor(modelitem => item.Quantity)
        <br/> @Html.DisplayFor(modelitem => item.CreatedBy)
        </p>
        
        </div>
    }
</div>
